.catalogo {
  background-color: white;
  z-index: 2;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  &_tags {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1rem;
    & > article {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      width: 9rem;
      padding: 0 2rem;
      background-color: rgb(240, 240, 240);
      border-radius: 1rem;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: rgb(220, 220, 220);
      }
    }
  }
  &_properties {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
  }
  & > h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
    color: #636667;
    margin-bottom: 2rem;
  }
}
