.catalogo {
  background-color: white;
  z-index: 2;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  &_properties {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  & > h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: sans-serif;
    color: #0f71a8;
    margin-bottom: 2rem;
  }
}
